@font-face {
    font-family: Open Sans;
    src: url(../fonts/Open_Sans/static/OpenSans-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Open Sans;
    src: url(../fonts/Open_Sans/static/OpenSans-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Open Sans;
    src: url(../fonts/Open_Sans/static/OpenSans-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: Open Sans;
    src: url(../fonts/Open_Sans/static/OpenSans-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: Open Sans;
    src: url(../fonts/Open_Sans/static/OpenSans-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Open Sans;
    src: url(../fonts/Open_Sans/static/OpenSans-SemiBold.ttf);
    font-weight: 600;
}



 
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/static/Roboto-ExtraLight.ttf);
    font-weight: 200;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/static/Roboto-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/static/Roboto-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/static/Roboto-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/static/Roboto-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/static/Roboto-SemiBold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/static/Roboto-ExtraBold.ttf);
    font-weight: 800;
}


 
@font-face {
    font-family: Roboto_Condensed;
    src: url(../fonts/Roboto_Condensed/static/RobotoCondensed-ExtraLight.ttf);
    font-weight: 200;
}
@font-face {
    font-family: Roboto_Condensed;
    src: url(../fonts/Roboto_Condensed/static/RobotoCondensed-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: Roboto_Condensed;
    src: url(../fonts/Roboto_Condensed/static/RobotoCondensed-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Roboto_Condensed;
    src: url(../fonts/Roboto_Condensed/static/RobotoCondensed-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Roboto_Condensed;
    src: url(../fonts/Roboto_Condensed/static/RobotoCondensed-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: Roboto_Condensed;
    src: url(../fonts/Roboto_Condensed/static/RobotoCondensed-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Roboto_Condensed;
    src: url(../fonts/Roboto_Condensed/static/RobotoCondensed-ExtraBold.ttf);
    font-weight: 800;
}